.characters {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.title {
    text-align: center;
    
}

.characters_item {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:600px) {
    .characters {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width:960px) {
    .characters {
        grid-template-columns: repeat(3, 1fr);
    }
}