.header {
    opacity: .5;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
}

.navbar {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.navbar-item {
    min-width: 60px;
    margin: 8px;
    padding: 8px;
    text-align: center;
    transform: translateY(-1px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    text-decoration: none;
}

.navbar-item:hover {
    cursor: pointer;
    transform: translateY(-2px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}