.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-input {
    border: none;
    border-bottom: 2px solid;
    background: transparent;
    text-align: center;
    font-size: 25px;
    width: 200px;
    background-image: url("../assets/keyboard.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-position-x: 165px ;
}

.search-input:active {
    background: transparent;
}


@media (min-width: 600px) {
    .search-input::placeholder {
        color: #fff;
        opacity: .5;
    }
}

@media (min-width: 960px) {
    .search-input::placeholder {
        color: red;
        opacity: .5;
    }
}


.btn-clean {
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(48, 24, 24, 0.897);
}

.btn-clean:hover {
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(48, 24, 24, 0.897);
}
.input-icon{
    width: 25px;
}