.search-box {
    padding: 16px;
    margin: 0 auto;
    text-align: center;
}

.search-input {
    border: none;
    border-bottom: 2px solid red;
    background: transparent;
    text-align: center;
    font-size: 25px;
}



.btn-clean {
    width: fit-content;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid;
    margin: 0 auto 30px;
}

.btn-clean:hover {
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(48, 24, 24, 0.897);
}